langchain==0.3.7
langchain-core==0.3.17
langchain-openai>=0.2.9
langchain-community>=0.0.13
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
pydantic>=2.7.4,<3.0.0
typing-extensions>=4.9.0
pinecone-client==5.0.1
pinecone-text==0.5.0 
pinecone-notebooks==0.1.1